<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchase Order Details</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"> Purchase Order Details</div>
        <div class="panel-body">
            <table class="table table-stripped table-hover " th:object="${purchaseOrderDetails}">
                <tr class="table-row">
                    <td>Plant Name</td>
                     <td th:text="${purchaseOrderDetails.name}"></td>
                </tr>
                <tr class="table-row">
                    <td>Plant Description</td>
                     <td th:text="${purchaseOrderDetails.description}"></td>
                </tr>
                <tr class="table-row">
                    <td>Start Date</td>
                    <td th:text="${purchaseOrderDetails.rentalPeriod.startDate}"></td>
                </tr>
                <tr class="table-row">
                    <td>End Date</td>
                    <td th:text="${purchaseOrderDetails.rentalPeriod.endDate}"></td>
                </tr>
                <tr class="table-row">
                    <td>Cost</td>
                    <td id="price-element" th:text="${purchaseOrderDetails.total}"></td>
                </tr>
                <tr class="table-row">
                    <td>Status</td>
                    <td th:text="${purchaseOrderDetails.status}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>